* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #030303fb;
    width: 100vw;
    overflow-x: hidden;
}

header {
    background-color: #000000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 0 30px 0;
    gap: 10px;
}

.logo {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1.5px;
}

.search-box {
    position: relative;
}

.search-box input {
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #a12cfac8;
    font-size: 16px;
    width: 25rem;
    padding: 4px;
    padding-right: 30px;
}

.search-box i {
    position: absolute;
    right: 6px;
    top: 7px;
    font-size: 18px;
    color: #000;
    cursor: pointer;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 35px 75px;
}

.movie-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 16.2rem;
    background-color: #222222;
    border: 1.5px solid #831FA4;
    box-shadow: 0px 0px 5px #44434373;
    padding: 15px;
    border-radius: 10px;
    transition: all 0.3s;
}

.movie-container:hover {
    box-shadow: 0px 5px 8px #831FA4, 0px 0px 2px #44434373;
    transform: rotateX(3deg);
}

.movie-container img {
    width: 150px;
    box-shadow: 0px 0px 5px #fff;
}

.movie-container p {
    font-size: 18px;
    letter-spacing: 0.2px;
    font-weight: 500;
    color: #fff;
}

.movie-container button {
    width: 95%;
    padding: 5px 0;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    border: none;
    background-color: #b601b3;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}

.movie-container button:hover {
    transform: rotateX(360deg);
}